In [32]:
import pandas as pd

In [33]:
df_fixed_data = pd.read_csv("Dataset/0_fixed_data.csv")
df_sadness = pd.read_csv("Dataset/sadness.csv")

In [34]:
df_sadness["label"] = 1

In [35]:
df_fixed_data.head()

                                                text  label
0                                 gelisah bgt astaga    0.0
1  tidur susah, pikiran kacau, hati gelisah. Semu...    1.0
2  Serba salah, mundur sayang, maju ragu. Diem di...    0.0
3  Udah ngalihin fokus ke yang lain tapi tetep cemas    1.0
4  Resah dan gelisah deh mimin, dah sebulan lewat...    0.0

In [36]:
df_sadness["label"] = 1
df_sadness = df_sadness.rename(columns={"tweet":"text"})
df_sadness.head()

   label                                               text
0      1  Orang lain kalau pake ponco itu buat jas hujan...
1      1  Pulang udah H-4 lebaran dilema sekali. Seperti...
2      1  Sulit menerima kenyataan memang bahwa ada seba...
3      1  Separuh hati ini iri jika melihat seorang anak...
4      1  dari mau tdr, tidur, sampe bgn tdr kok yaa kay...

In [37]:
df = pd.concat([df_fixed_data, df_sadness])

In [38]:
df["label"] = df["label"].astype('int')

In [39]:
df.loc[df["label"] == 8, "label"] = 1

In [40]:
df["label"].value_counts()

0    6914
1    1101
Name: label, dtype: int64

In [41]:
df.to_csv("0a_fixed_data.csv", index=False)